html {
  margin:0;
  padding:0;
  border:0;
}
/* Line-height should always be unitless! */
body {
  line-height: 1.5;
  background: white;
  margin: 0;
  overflow: hidden;
}

div {
  padding: 0;
  margin: 0;
}

/*fb page*/
#fan, .tab_content, #notfan {
  width: 520px;
  height: 648px;
  position: absolute;
  background-color:#ffffff;
}

.tab, .button{
  position: absolute;
  border: 0px solid black;
  cursor: pointer;
}

.tab {
  top: 45px;
  height: 23px;
}

.button {
  width: 20px;
  height: 10px;
}

#notfan {
  background:#ffffff url('../images/notfan.png') no-repeat left top;
}

#fan #button_tab_1 {
  left:15px;
  width: 121px;
}

#fan #button_tab_2 {
  left: 137px;
  width: 192px;
}

.tab_content#tab_1 {
  background:#ffffff url('../images/tab_1.png') no-repeat left top;
}

#tab_1 #link_1 {
  top: 183px;
  right: 33px;
  width: 65px
}

#tab_1 #link_2 {
  top: 198px;
  left: 27px;
  width: 107px
}

.tab_content#tab_2 {
  background:#ffffff url('../images/tab_2.png') no-repeat left top;
  
}

#tab_2 #link_1 {
  top: 305px;
  left: 257px;
  width: 80px
}

#tab_2 #link_2 {
  top: 318px;
  left: 27px;
  width: 50px
}


